[Unit]
Description=GlobalProtect VPN client daemon

[Service]
Type=simple
ExecStartPre=/opt/paloaltonetworks/globalprotect/pre_exec_gps.sh
ExecStart=/opt/paloaltonetworks/globalprotect/PanGPS
Restart=on-failure
RestartSec=5
WorkingDirectory=/opt/paloaltonetworks/globalprotect

[Install]
WantedBy=multi-user.target

